<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title || 'Miami Vape Smoke Shop' %></title>
  <meta name="description" content="<%= description || '' %>">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/products.css">
  <link rel="stylesheet" href="/css/product_cards.css">
  <link rel="stylesheet" href="/css/mobile.css">

</head>
<body id="products_body">
  <%- include('../partials/navbar2') %>
  <%- include('../partials/navbar') %>

  <main>
    <%- body %>
  </main>

  <%- include('../partials/footer') %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/search_bar.js"></script>
  <script src="/js/cart.js"></script>
  <script src="/js/flavor_selector.js"></script>
</body>
</html>
